/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------------------------------
-------------------------------------------------------
 RESET CSS FRAMEWORK OF GUILHERME SALUM - DDSTUDIOS
-------------------------------------------------------
---------------------------------------------------- */

.wrapper { width: 960px; margin: 0 auto; position: relative; }

p, ul, ol, blockquote { margin: 1em 0; }

a:link, a:visited, a { text-decoration: none; }
a:hover { text-decoration: underline; }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
	
	font-weight: normal;
	display: block;
	line-height: 1;
	
}

h1 { font-size: 3em; margin: .67em 0; }
h2 { font-size: 2.5em; margin: .83em 0; }
h3 { font-size: 2em; margin: 1.17em 0; }
h4 { font-size: 1.7em; margin: 1.33em 0; }
h5 { font-size: 1.3em; margin: 1.67em 0; }
h6 { font-size: 1em; margin: 2.33em 0; }

ul { list-style: circle; padding-left: 40px; }
ol { list-style: decimal; padding-left: 40px; }

blockquote {
	
	display: block;
	padding: 10px 10px 10px 30px;
	border-left: 4px solid #cccccc;
	margin: 1em 0 2em 0;
	
}

.list-BW { list-style-image: url(../images/icons/bullet_BW.png); }
.list-hot { list-style-image: url(../images/icons/bullet_flame.png); }
.list-clip { list-style-image: url(../images/icons/bullet-paper-clip.png); }
.list-tick { list-style-image: url(../images/icons/bullet-tick.png); }
.list-star { list-style-image: url(../images/icons/bullet_star.png); }
.list-blue { list-style-image: url(../images/icons/bullet_blue.png); }
.list-green { list-style-image: url(../images/icons/bullet_green.png); }
.list-black { list-style-image: url(../images/icons/bullet_black.png); }
.list-red { list-style-image: url(../images/icons/bullet_red.png); }
.list-pink { list-style-image: url(../images/icons/bullet_pink.png); }
.list-purple { list-style-image: url(../images/icons/bullet_purple.png); }
.list-yellow { list-style-image: url(../images/icons/bullet_yellow.png); }
.list-ads { list-style: none; padding: 0; }
.list-ads li { float: left; margin: 10px }

.list-icons { list-style: none; padding: 0; }
.list-icons li { float: left; margin-right: 15px; }

.one-half, .one-third, .two-thirds,
.one-fourth, .three-fourths, .one-fifth,
.two-fifths, .three-fifths, .four-fifths,
.one-sixth, .five-sixths { float: left; margin: 0 30px 0 0; }
.one { width: 960px; float: left; }
.one-half { width: 465px; }
.one-third { width: 300px; }
.two-thirds { width: 630px; }
.one-fourth { width: 217px; }
.three-fourths { width: 711px; }
.one-fifth { width: 168px; }
.two-fifths { width: 366px }
.three-fifths { width: 564px; }
.four-fifths { width: 762px; }
.one-sixth { width: 135px; }
.five-sixths { width: 795px; }
.group { float: left; width: 100%; }
.block { float: left; width: 100%; margin-bottom: 30px; }
.last { margin-right: 0 !important; }
.clear { clear: both; }

.p13 { font-size: 13px; line-height: 19px; }
.p14, big { font-size: 14px; line-height: 20px; }
.p15 { font-size: 15px; line-height: 21px; }
.p16 { font-size: 16px; line-height: 22px; }

.alignleft, .left { float: left !important; }
img.alignleft { margin: 0 20px 10px 0; }
.alignright, .right { float: right !important; }
img.alignright { margin: 0 0 10px 20px; }

input, textarea, select { display: block; width: 92%; margin:0 0 1em 0; }
label { display: block; margin: 1em 0 0 0; font: normal 13px/19px Arial, Helvetica, sans-serif; }
label span { color: #f00; }
label em { font-size: 11px; }
.medium { width: 70%; }
.short { width: 40%; }
.button { display: block; width: 200px; text-align: center; cursor: pointer; text-transform: uppercase; }
#searchsubmit { display: none; }